# Build results
bin/
obj/
Debug/
Release/

# Visual Studio
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Others you might see
*.log
