body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Grid*/
.card-container {
    position: relative;
    margin-bottom: 20px;
    width: 340px;
    height: 220px;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    color: #fff;
}

.card-front {
    background-color: #385cad;
    z-index: 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo"
    "info";
    align-items: end;
    padding: 20px;
}

.card-image {
    grid-area: logo;
    justify-self: end;
    margin-bottom: 10px;
}

.info-container {
    grid-area: info;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "number"
    "name"
    "exp";
    gap: 20px;
}

#card-number-cont {
    grid-column: 1 / span 2;
    grid-row: 1;
    grid-area: "number";
}

#card-name-cont{
    grid-column: 1;
    grid-row: 2;
    grid-area: "name";
}

#expiration-date-cont {
    grid-column: 2;
    grid-row: 2;
    grid-area: "exp";
}


.card-back {
    height: 20vh;
    background-color: #15317e;
    transform: translate(160px,50px);
    z-index: 1;
    display: grid;
    grid-template-rows: 30px 1fr 1fr;
    grid-template-areas:
    "strip"
    "."
    "cvv";
    padding-top: 20px;
}

.card-back::before {
    content: "";
    grid-row: 1;
    grid-area: strip;
    background-color: #000;
    height: 40px;
    border-radius: 2px;
    opacity: 0.9;
}

.card-back label {
    justify-content: end;
}

#cvv-cont {
    grid-area: cvv;
    grid-row: 3;
    justify-self: end;
    width: 60px;
    height: 30px;
    padding: 20px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 4px;
    font-size: .85em;
}

input {
    padding: 4px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    margin-bottom: 15px;
    width: 100%;
}

button {
    padding: 10px 18px;
    font-size: 1em;
    background-color: #385cad;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transform: translate(280px, 60px);
}

button:hover {
    background-color: #ffb242;
}